<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Widgets
        </a>
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="cl-text-black">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container cl-container-padding">
    <div ng-repeat="widget in model.widgets" class="margin-bottom">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src='{{widget.url}}'
                     width="{{widget.width}}"/>
            </div>
            <div ng-switch-when="YOUTUBE">
                {{widget.url}}
            </div>
            <div ng-switch-when="HTML"
                 ng-bind-html="model.trustThisContent(widget.text)">
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-left cl-icon-padding">
            <a href="#" class="cl-text-black">
                <span class="glyphicon glyphicon-play">&nbsp</span>
            </a>
            <a href="#" class="cl-text-black">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/user/{{model.uid}}" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

