 <label for="name">Name</label>
 <input type="text" class="form-control" placeholder="Image Name" id="name">
 <label for="text">Text</label>
 <input type="text" class="form-control" placeholder="Image Text" id="text">
 <label for="url">URL</label>
 <input ng-model="model.widget.url"
        type="text"
        class="form-control"
        placeholder="Image URL"
        id="url">
 <label for="width">Width</label>
 <input ng-model="model.widget.width"
        type="text"
        class="form-control"
        placeholder="Image Width"
        id="width"
        required>
 <!--<label class="btn btn-default btn-file">-->
     <!--&lt;!&ndash;<input type="file" hidden>&ndash;&gt;-->
 <!--</label>-->
 <label for="file">Upload</label>
 <input id="file"
        multiple
        type="file"
        class="form-control"/>
 <a class="btn btn-primary btn-block"
    ng-click="model.uploadImage()">Upload Image</a>

