<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Edit Page
        </a>
        <div class="navbar-text pull-right cl-icon-padding">
            <a ng-click="model.updatePage()" class="cl-text-black">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
    <label for="pageName">Page Name</label>
    <input ng-model="model.page.name"
           type="text"
           class="form-control"
           id="pageName"
           placeholder="Page Name"
           required>
    <label for="pageTitle">Page Title</label>
    <input ng-model="model.page.description"
           class="form-control"
           type="text"
           placeholder="Page Title"
           id="pageTitle"
           required>

    <a class="btn btn-danger btn-block" ng-click="model.deletePage(model.pid)">
        Delete
    </a>
</div>
<!--<label for="username">Username</label>-->
<!--<input ng-model="model.username" type="text" class="form-control" placeholder="Username" id="username" required>-->
<!--<label for="email">Email</label>-->
<!--<input ng-model="model.email" type="email" class="form-control" placeholder="alice@emmail.com" id="email" required>-->
<!--<label for="fName">First Name</label>-->
<!--<input ng-model="model.firstName" type="text" class="form-control" placeholder="first name" id="fName" required>-->
<!--<label for="lName">Last Name</label>-->
<!--<input ng-model="model.lastName" type="text" class="form-control" placeholder="last name" id="lName" required>-->

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/user/{{model.uid}}" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>